* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.section {
  width: 85vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
}
.paragraph-container {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paragraph-container p {
  text-align: center;
  margin: 1rem;
  color: rgb(60, 134, 218);
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn {
  font-size: x-large;
  margin-left: 1rem;
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  background-color: aliceblue;
  box-shadow: 0 5px 15px rgb(202, 228, 250);
}
.btn:hover {
  background-color: rgb(202, 228, 250);
}
#num {
  text-align: center;
  font-size: x-large;
  width: 50px;
  outline: none;
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  margin-left: 1rem;
  box-shadow: 0 5px 15px rgb(202, 228, 250);
}
form label {
  font-size: xx-large;
}
@media (max-width: 450px) {
  .btn {
    font-size: 20px;
  }
  form label {
    font-size: 20px;
  }
  #num {
    font-size: 20px;
  }
}
@media (max-width: 315px) {
  .btn {
    font-size: 15px;
  }
  form label {
    font-size: 15px;
  }
  #num {
    font-size: 15px;
  }
}
